/* Sanitize.CSS Library */
::before,
::after {
  text-decoration: inherit; /* 1 */
  vertical-align: inherit; /* 2 */
}
:where(:root) {
  cursor: default; /* 1 */
  line-height: 1.4; /* 2 */
  overflow-wrap: break-word; /* 3 */
  -moz-tab-size: 4; /* 4 */
  tab-size: 4; /* 4 */
  -webkit-tap-highlight-color: transparent; /* 5 */
  -webkit-text-size-adjust: 100%; /* 6 */
}
:where(body) {
  margin: 0;
}
:where(dl, ol, ul) :where(dl, ol, ul) {
  margin: 0;
}
:where(hr) {
  color: inherit; /* 1 */
  height: 0; /* 2 */
}
:where(nav) :where(ol, ul) {
  list-style-type: none;
  padding: 0;
}
:where(nav li)::before {
  content: "\200B";
  float: left;
}
:where(pre) {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
  overflow: auto; /* 3 */
}
:where(abbr[title]) {
  text-decoration: underline;
  text-decoration: underline dotted;
}
:where(b, strong) {
  font-weight: bolder;
}
:where(code, kbd, samp) {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}
:where(small) {
  font-size: 80%;
}
:where(audio, canvas, iframe, img, svg, video) {
  vertical-align: middle;
}
:where(iframe) {
  border-style: none;
}
:where(svg:not([fill])) {
  fill: currentColor;
}
:where(table) {
  border-collapse: collapse; /* 1 */
  border-color: inherit; /* 2 */
  text-indent: 0; /* 3 */
}
:where(button, input, select) {
  margin: 0;
}
:where(button, [type="button" i], [type="reset" i], [type="submit" i]) {
  -webkit-appearance: button;
  appearance: button;
}
:where(fieldset) {
  border: 1px solid #a0a0a0;
}
:where(progress) {
  vertical-align: baseline;
}
:where(textarea) {
  margin: 0; /* 1 */
  resize: vertical; /* 3 */
}
:where([type="search" i]) {
  -webkit-appearance: textfield; /* 1 */
  appearance: textfield;
  outline-offset: -2px; /* 2 */
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
:where(dialog) {
  background-color: white;
  border: solid;
  color: black;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: fit-content;
}
:where(dialog:not([open])) {
  display: none;
}
:where(details > summary:first-of-type) {
  display: list-item;
}
:where([aria-busy="true" i]) {
  cursor: progress;
}
:where([aria-controls]) {
  cursor: pointer;
}
:where([aria-disabled="true" i], [disabled]) {
  cursor: not-allowed;
}
:where([aria-hidden="false" i][hidden]) {
  display: initial;
}
:where([aria-hidden="false" i][hidden]:not(:focus)) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

/* Custom Fonts */
@font-face {
  font-family: "Segoe UI Semilight";
  src: url("../fonts/segoe_ui_semilight.ttf") format("truetype");
}

/* Body */
body {
  background-color: #303030;
  background: url("../images/backgrounds/longhorn.jpg") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Segoe UI Semilight", Tahoma, Geneva, Verdana, sans-serif, Arial,
    Helvetica, sans-serif;
  scrollbar-color: rgba(35, 105, 47, 0.8) rgba(31, 31, 31, 0.65);
  cursor: url("../images/cursors/normal.cur"), auto;
}

/* Highlighting */
::selection {
  background: #148d28;
}

/* Defaults */
h1,
h2,
h3 {
  background: linear-gradient(
    to bottom,
    rgba(119, 119, 119, 0.925) 0%,
    rgba(97, 97, 97, 0.925) 10%,
    rgba(35, 35, 35, 0.925) 55%,
    rgba(0, 0, 0, 0.925) 56%,
    rgba(0, 0, 0, 0.925) 60%,
    rgba(32, 32, 32, 0.925) 100%
  );
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
  border-top: 1px solid #858585;
  border-left: 1px solid #616161;
  border-bottom: 3px solid #161616;
  border-right: 1px solid #616161;
  border-radius: 5px;
  padding: 2px 5px 4px 5px;
  margin: 0px auto 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 970px;
  font-weight: normal;
  font-family: "Segoe UI Semilight", Tahoma, Geneva, Verdana, sans-serif, Arial,
    Helvetica, sans-serif;
  margin: 0px;
  position: relative;
}

h1 {
  font-size: 18.3px;
}
h2 {
  font-size: 14.9px;
}
h3 {
  font-size: 14.9px;
}
h4 {
  margin: 0px;
}

a,
p,
span {
  text-shadow: 0px 0px 3px rgb(0, 0, 0);
}

p {
  font-size: 15px;
}

a {
  color: #3cda56;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: url("../images/cursors/link.cur"), auto;
}

.text-underline {
  text-decoration: underline;
}

/* External Links Symbols */
.external-links::after {
  content: "";
  display: inline-block;
  background-image: url("/images/external_links.png");
  background-size: contain;
  width: 10px;
  height: 10px;
  margin: 0px 3px 0px 5px;
}

/* Download Links Symbols */
.download-links,
.download-links-2 {
  flex-direction: row !important;
  justify-content: center;
}
.download-links::after,
.download-links-2::after {
  content: "";
  display: inline-block;
  background-image: url("/images/download_links.png");
  background-size: contain;
  width: 10px;
  height: 10px;
  margin-left: 5px;
}

#mainContent a:visited {
  color: #139228;
}

p {
  margin: 0px;
}

input[type="range"] {
  accent-color: #33c54b;
}

#background {
  width: 100%;
  height: 100vh;
  position: absolute;
}

/* Website Container */
#websiteContainer {
  width: 100%;
  max-height: 917px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  max-width: 700px;
}

/* Website Spacers */
.website-spacers {
  height: 15px;
}

/* Website Header */
#mainHeader {
  background: linear-gradient(
    180deg,
    rgba(148, 148, 148, 0.9) 0%,
    rgba(71, 71, 71, 0.9) 20%,
    rgba(19, 19, 19, 0.9) 40%,
    rgba(7, 7, 7, 0.93) 100%
  );
  border-right: 2px solid #3d3d3d;
  border-left: 2px solid #3d3d3d;
  border-top: 2px solid #3d3d3d;
  border-radius: 5px 5px 0px 0px;
  padding: 15px 10px 13px 25px;
  backdrop-filter: blur(2px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 10;
}

.header-logo-text {
  display: flex;
  align-items: center;
}

.header-title {
  color: white;
  display: block;
  font-size: 30px;
  margin: -8px 0px -5px 0px;
}

.logo {
  margin-right: 15px;
  margin-left: 1px;
  transition-duration: 0.4s;
}

.logo:hover {
  filter: brightness(80%);
  transition-duration: 0.4s;
  transform: rotate(4deg);
}

.header-motto {
  color: #c9c9c9;
  margin-left: 0px;
  font-size: small;
  border-top: 5px;
}

/* Toggle navbar div */
.toggle-buttons-divs {
  display: none;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
}

.toggle-buttons-divs span {
  color: #e9e9e9;
  margin-right: 8px;
}

#navbarToggleButton {
  margin-right: 5px;
  max-width: 25px;
  cursor: url("../images/cursors/link.cur"), auto;
}

/* Navbar and main content container for IE Browser */
#navAndContentContainer {
  display: flex;
}

/* Left navbar */
#navigationMenu {
  background: linear-gradient(
    100deg,
    rgba(20, 20, 20, 0.8) 50%,
    rgba(27, 27, 27, 0.9) 100%
  );
  border-right: 2px solid #3d3d3d;
  border-left: 2px solid #3d3d3d;
  border-bottom: 2px solid #3d3d3d;
  border-bottom-left-radius: 0px;
  backdrop-filter: blur(1px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  display: block;
  height: 763px;
  min-width: 122px;
  max-width: 250px;
  padding: 10px;
  overflow: auto;
}

.nav-categories {
  background: rgba(26, 26, 26, 0.486);
  border-top: 1.5px solid #535353;
  border-left: 1px solid #414141;
  border-bottom: 2px solid #2b2b2b;
  border-right: 1px solid #414141;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 3px 5px;
  margin-bottom: 4px;
}

.nav-categories div {
  margin: 1px 0px;
  margin-bottom: -4px !important;
  padding-bottom: 1.5px;
}

.active-nav-div,
.active-nav-div-flash {
  margin-bottom: -4px !important;
  padding-bottom: 3px;
}
.active-nav-div {
  background: linear-gradient(to top, #1ba02f 0%, #00000000 50%) !important;
}
.active-nav-div-flash {
  background: linear-gradient(to top, #ca3939 0%, #00000000 50%) !important;
}
.active-nav-div-flash a {
  color: #ff5f5f;
}

.nav-categories hr {
  background: rgba(12, 12, 12, 0.8);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid rgb(48, 48, 48);
  border-radius: 5px;
  width: 100%;
  height: 1px;
  margin: 1.5px auto 2px auto;
}

#navigationMenu div {
  display: flex;
  align-items: center;
}

.navbar-titles {
  background: linear-gradient(
    to bottom,
    rgba(119, 119, 119, 0.8) 0%,
    rgba(97, 97, 97, 0.8) 10%,
    rgba(35, 35, 35, 0.8) 50%,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0.8) 60%,
    rgba(32, 32, 32, 0.8) 100%
  );
  border-top: 1px solid #969696;
  border-left: 1px solid #4b4b4b;
  border-bottom: 2px solid #111111;
  border-right: 1px solid #4b4b4b;
  border-radius: 3px;
  color: #f7f4f4;
  padding-bottom: 1px;
  margin-bottom: 1px;
  font-size: 12.9px;
  font-weight: normal;
  text-align: center;
}

.nav-icons {
  height: 19.5px;
  margin: -0.3px 1px 0px 0px;
  z-index: 1;
}

#navigationMenu a {
  font-size: 13px;
}

.nav-active,
.nav-inactive {
  color: #eeeeee;
  margin: -1px 0px 0px 3px;
}

.nav-active {
  color: #57fa6f;
  text-decoration: underline;
}

/* Nav buttons */
.nav-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3px 0px;
}

.nav-buttons-container img {
  width: 88px;
  height: 31px;
  transition-duration: 0.4s;
}

.nav-buttons-container img:hover {
  filter: brightness(80%);
  transition-duration: 0.4s;
}

#navSoundToggle,
#navThemeChanger {
  background: linear-gradient(
    to bottom,
    #5de951 0%,
    #1d681a 55%,
    #0d3a15 56%,
    #0f3f18 70%,
    #1a611d 100%
  );
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  border: none;
  color: white;
  cursor: url("../images/cursors/link.cur"), auto;
  width: 100%;
  padding: 3px 0px;
  transition-duration: 0.2s;
  position: relative;
}
#navSoundToggle:hover,
#navThemeChanger:hover {
  filter: brightness(80%);
  transition-duration: 0.2s;
}

#navSoundToggle:before,
#navThemeChanger:before {
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  border-radius: 20px;
  position: absolute;
  content: "";
  height: 13px;
  width: 90%;
  top: 0px;
  left: 5%;
  opacity: 0.3;
}

#navThemeChanger {
  margin-top: 5px;
}

/* Main Content */
#mainContent {
  background: url("../images/aero_glass.png"), rgba(39, 39, 39, 0.6);
  border-right: 2px solid #363636;
  border-bottom: 2px solid #363636;
  border-bottom-right-radius: 3px;
  backdrop-filter: blur(1px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  color: #dadada;
  padding: 15px 20px 3px 20px;
  height: 765px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Glass containers */
.glass-borders {
  background-image: url("../images/aero_glass.png"),
    linear-gradient(
      rgba(48, 48, 48, 0.4),
      rgba(26, 26, 26, 0.4),
      rgba(26, 26, 26, 0.4)
    );
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
  border-bottom: 1px solid #525252;
  border-top: 1px solid #797979;
  border-left: 1px solid #777777;
  border-right: 1px solid #797979;
  border-radius: 5px;
  padding: 5px;
  margin: 8px auto 8px auto;
}

/* Accent Borders */
.aero-borders {
  border-top: 1px solid #5e5e5e;
  border-left: 1px solid #5a5a5a;
  border-bottom: 1px solid #4b4b4b;
  border-right: 1px solid #4b4b4b;
}

/* Section Banners */
.section-banners {
  background: rgba(27, 27, 27, 0.796);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: none;
}

.section-banners img {
  border-bottom: 2px solid #5a5a5a;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
}

/* Container style 1 */
.styled-containers {
  background: rgba(27, 27, 27, 0.8);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
  border-radius: 5px;
  padding: 15px 10px 10px 10px;
  max-width: 935px;
}

/* Container style 2 */
.styled-containers-spaced {
  padding: 0px 10px 10px 10px;
}

.styled-containers-spaced h2,
h3 {
  margin-top: 10px;
}

.styled-containers-spaced p,
.styled-containers-headers p {
  margin: 8px 5px 0px 5px;
}

/* Container style 3 */
.styled-containers-headers {
  background: rgba(27, 27, 27, 0.8);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top: none;
  padding: 3px 10px 10px 10px;
}

/* Containers inside of other containers */
.styled-containers-layer-2 {
  background: rgba(27, 27, 27, 0.635);
}

.gallery-containers {
  padding: 5px;
}

.gallery-containers a {
  background: rgba(19, 19, 19, 0.8);
  border-top: 1px solid #424242;
  border-left: 1px solid #424242;
  border-bottom: 1px solid #131313;
  border-right: 1px solid #424242;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  min-height: 100px;
  transition-duration: 0.2s;
}

.gallery-containers a:hover {
  filter: brightness(85%);
  transform: scale(1.02);
  transition-duration: 0.15s;
}

.gallery-containers img {
  border-top: 1px solid #272727;
  border-left: 1px solid #272727;
  border-right: 1px solid #3f3f3f;
  border-bottom: 1px solid #3f3f3f;
  border-radius: 5px;
  width: 100%;
}

/* Items in the galleries */
.gallery-images-containers {
  display: grid;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

/* Page Navigation */
#pageNav {
  background: linear-gradient(
    to bottom,
    #1a1a1a 50%,
    #242424 70%,
    #313131 85%,
    #3d3d3d 100%
  );
  position: sticky;
  border-top-right-radius: 60px;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-bottom: -4px;
  bottom: -4px;
  z-index: 3;
}

#pageNav h2 {
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  width: 96%;
  margin: 7px auto 0px auto;
}

.page-swap-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 7px 0px 0px 0px;
}

.page-swap-div a {
  background: linear-gradient(
    to bottom,
    #5de951 0%,
    #1d681a 55%,
    #0d3a15 56%,
    #0f3f18 70%,
    #1a611d 100%
  );
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 15px 8px 15px;
  color: white;
  margin: 0px 3px;
  transition-duration: 0.3s;
  line-height: 0px;
  position: relative;
}

.page-swap-div a:before {
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  border-radius: 20px;
  position: absolute;
  content: "";
  height: 17px;
  width: 90%;
  top: 0px;
  left: 5%;
  opacity: 0.3;
}

.page-swap-div a:hover {
  filter: brightness(87%);
  transition-duration: 0.3s;
  text-decoration: none;
}

.page-swap-div a:visited {
  color: white !important;
}

.page-swap-div img {
  width: 20px;
  margin-left: 4px;
  margin-bottom: -3px;
}
.page-swap-div a:nth-child(2) img {
  margin-right: 4px;
}

/* Spotlight Image Viewer */
#spotlight {
  margin-bottom: 60px;
  contain: none;
  overflow: visible;
}
.spl-header {
  background: none;
}
.spl-footer {
  background: linear-gradient(
    to bottom,
    rgb(119, 119, 119) 0%,
    rgb(97, 97, 97) 10%,
    rgb(35, 35, 35) 55%,
    rgb(0, 0, 0) 55%,
    rgb(0, 0, 0) 60%,
    rgb(32, 32, 32) 100%
  );
  margin-bottom: -60px;
}

/* Cirno */
/* #cirno {
  position: fixed;
  right: 5px;
  bottom: 5px;
  width: 90px;
}
#cirno img {
  width: 90px;
  transition-duration: 0.2s;
}
#cirno img:hover {
  transform: scale(0.95);
  transition-duration: 0.2s;
} */

/* Responsiveness */
@media (max-width: 750px), (max-height: 915px) and (max-width: 1000px) {
  /* Spacers */
  .website-spacers {
    display: none;
  }

  /* Container */
  #background {
    pointer-events: none;
  }
  #websiteContainer {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
  }

  /* Header */
  #mainHeader {
    border-top: none;
    border-radius: 0px;
    padding: 5px 10px 5px 13px;
    position: fixed;
    top: 0px;
    width: 100%;
  }
  .logo {
    width: 28px;
    margin-right: 8px;
    margin-left: 0px;
  }
  .header-title {
    font-size: 13px;
  }
  .header-motto {
    display: none;
  }
  .toggle-buttons-divs {
    display: block;
  }

  /* Content */
  #navAndContentContainer {
    position: fixed;
    top: 38px;
  }

  /* Navigation */
  #navigationMenu {
    position: absolute;
    border-bottom-left-radius: 0px;
    height: calc(100vh - 61px);
    z-index: 10;
  }

  /* Hide Navbar by default on smaller devices */
  #navigationMenu {
    display: none;
  }

  /* Main */
  #mainContent {
    border-bottom-right-radius: 0px;
    height: calc(100vh - 57px);
  }
}

/* Phone Size */
@media (max-width: 641px) {
  /* Smaller Font */
  body {
    font-size: 14px;
  }

  /* Headings */
  h1 {
    font-size: 16px;
  }
  h2 {
    font-size: 14px;
  }
  h3 {
    font-size: 14px;
  }

  /* Page Navigation in smaller devices */
  #pageNav h2 {
    display: none;
  }
  .page-swap-div a {
    padding: 6px 6px 10px 6px;
    font-size: 0.9em;
  }
}

@media (max-width: 370px) {
  /* Headings */
  h1 {
    font-size: 14px;
  }
  h2 {
    font-size: 13px;
  }
  h3 {
    font-size: 12px;
  }

  /* Hide next and previous buttons */
  .page-swap-div a:nth-child(2) {
    display: none;
  }

  #clippy img {
    width: 50px;
  }
}

/* Very small phones */
@media (max-width: 300px) {
  .header-text span {
    display: none;
  }
  .header-text:after {
    color: white;
    content: "The FA Archive";
  }

  /* Remove side padding */
  #mainContent {
    padding: 15px 5px 3px 5px;
  }
}
@media (max-width: 244px) {
  .header-text span {
    display: none;
  }
  .header-text:after {
    color: white;
    content: "FA Archive";
  }
}
@media (max-width: 215px) {
  .header-text span {
    display: none;
  }
  .header-text:after {
    content: "";
  }
}

/* Container Sizes */
@media (min-width: 800px) {
  #websiteContainer {
    max-width: 750px;
  }
}

@media (min-width: 880px) {
  #websiteContainer {
    max-width: 830px;
  }
}

@media (min-width: 900px) {
  #websiteContainer {
    max-width: 840px;
  }
}

@media (min-width: 961px) {
  #websiteContainer {
    max-width: 900px;
  }
}

@media (min-width: 1060px) {
  #websiteContainer {
    max-width: 1000px;
  }
}